<!DOCTYPE html>
<br><br>
{{#each foo}}
{{this}}
{{/each}}
<br><br>
<li class = "field"><a href = "/admin" id = "addLink"><<< Back</a></li>

<div class="addingForms" >
	<div class="addSports">
      <h2>Add Injuries</h2>   
       <form action="/admin-injuries" method="post">
        	Injury Name:<br>
        	<input type="text" name="injury_name">
        	<br>
        	Injury Type:<br>
        	<input type="text" name="injury_type">
        	<br><br>
        	Additional Notes:<br>
        	<input type="text" name="injury_notes">
        	<br>
        	Linked to Sport:<br> <select name="sport_type" 
			{{#each sports}}
            <option value="{{sport_id}}">{{sport_name}}</option>
            {{/each}}
			</select><br>
        	<br>
        	<input type="submit" value="Submit">
       </form>
      </div> 
</div>
</html>